docs/academy-content/config-files/n8n-workflows/content-pipeline-workflow.json
{
  "name": "Content Pipeline - Idea to Publication",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Monday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_CONTENT_CALENDAR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content Calendar",
          "mode": "name"
        },
        "filters": {
          "filter": {
            "filterType": "text",
            "value": "Scheduled"
          },
          "column": "Status"
        },
        "options": {
          "outputFormatting": {
            "dateFormat": "yyyy-MM-dd"
          }
        }
      },
      "id": "get-scheduled-content",
      "name": "Get Scheduled Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter content due this week\nconst items = $input.all();\nconst today = new Date();\nconst nextWeek = new Date(today);\nnextWeek.setDate(today.getDate() + 7);\n\nconst dueThisWeek = items.filter(item => {\n  const dueDate = new Date(item.json['Due Date']);\n  return dueDate >= today && dueDate <= nextWeek;\n});\n\nif (dueThisWeek.length === 0) {\n  return [{ json: { no_content: true, message: 'No content due this week' } }];\n}\n\nreturn dueThisWeek.map(item => ({\n  json: {\n    ...item.json,\n    days_until_due: Math.ceil((new Date(item.json['Due Date']) - today) / (1000 * 60 * 60 * 24)),\n    is_urgent: Math.ceil((new Date(item.json['Due Date']) - today) / (1000 * 60 * 60 * 24)) <= 2\n  }\n}));"
      },
      "id": "filter-this-week",
      "name": "Filter This Week's Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.no_content }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-content-exists",
      "name": "Has Content Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "You are a content strategist helping create detailed content briefs. Create a comprehensive brief for the following content piece:\n\nTitle: {{ $json['Title'] }}\nType: {{ $json['Content Type'] }}\nTarget Keyword: {{ $json['Primary Keyword'] }}\nTarget Audience: {{ $json['Target Audience'] }}\nGoal: {{ $json['Content Goal'] }}\n\nProvide:\n1. SEO-optimized headline options (3)\n2. Key points to cover (5-7 bullet points)\n3. Suggested structure/outline\n4. Call-to-action recommendation\n5. Internal linking opportunities\n6. Estimated word count\n7. Tone and style notes"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "id": "generate-brief",
      "name": "Generate Content Brief",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_CONTENT_CALENDAR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content Calendar",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Brief Ready",
            "AI Brief": "={{ $('Generate Content Brief').item.json.message.content }}",
            "Brief Generated": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-sheet-brief",
      "name": "Update Sheet with Brief",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "channel": "#content-team",
        "text": ":memo: *Weekly Content Pipeline Update*\n\n*Content pieces due this week:*\n\n{{ $json['Title'] }}\n- Due: {{ $json['Due Date'] }}\n- Type: {{ $json['Content Type'] }}\n- Status: {{ $json['Status'] }}\n- Assigned to: {{ $json['Assigned To'] || 'Unassigned' }}\n{{ $json.is_urgent ? ':rotating_light: URGENT - Due in ' + $json.days_until_due + ' days!' : '' }}\n\n---",
        "otherOptions": {
          "unfurlLinks": false
        }
      },
      "id": "slack-content-update",
      "name": "Slack Content Update",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1340, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_urgent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-urgent",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 360]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Assigned To Email'] }}",
        "subject": "⚠️ URGENT: Content Due in {{ $json.days_until_due }} Days - {{ $json['Title'] }}",
        "emailType": "html",
        "message": "<h2>Content Deadline Reminder</h2>\n<p>Hi,</p>\n<p>This is a reminder that the following content piece is due in <strong>{{ $json.days_until_due }} days</strong>:</p>\n<ul>\n<li><strong>Title:</strong> {{ $json['Title'] }}</li>\n<li><strong>Type:</strong> {{ $json['Content Type'] }}</li>\n<li><strong>Due Date:</strong> {{ $json['Due Date'] }}</li>\n<li><strong>Target Keyword:</strong> {{ $json['Primary Keyword'] }}</li>\n</ul>\n<p>Please ensure the content is ready for review by the deadline.</p>\n<p>If you need any support or an extension, please reach out ASAP.</p>\n<p>Thanks!</p>"
      },
      "id": "send-urgent-reminder",
      "name": "Send Urgent Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 480]
    },
    {
      "parameters": {},
      "id": "no-content-noop",
      "name": "No Content Due",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 480]
    }
  ],
  "connections": {
    "Weekly Monday 9AM": {
      "main": [
        [
          {
            "node": "Get Scheduled Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Content": {
      "main": [
        [
          {
            "node": "Filter This Week's Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter This Week's Content": {
      "main": [
        [
          {
            "node": "Has Content Due?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Content Due?": {
      "main": [
        [
          {
            "node": "No Content Due",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Content Brief",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content Brief": {
      "main": [
        [
          {
            "node": "Update Sheet with Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Send Urgent Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Content Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Brief": {
      "main": [
        [
          {
            "node": "Slack Content Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "content",
      "id": "1"
    },
    {
      "name": "marketing",
      "id": "2"
    }
  ],
  "pinData": {},
  "_comment": "AI Launchpad Academy - Content Pipeline Workflow. Replace YOUR_CONTENT_CALENDAR_SHEET_ID and configure OpenAI/Slack/Gmail credentials before use."
}
